{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES COURS</h2>
        </div>
    </section>

    <!-- Three -->
    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Couture</h3>
                    </header>
                    <p>Les cours de couture sont pour tous les niveaux, ils durent 2 heures.
                        Chaque élève apporte son projet, son tissu, son fil, ses petits outils et éventuellement sa
                        machine à coudre (mais ce n’est pas obligatoire).
                        Sont fournis : les patrons, les machines à coudre, de la mercerie.</p>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Tricot</h3>
                    </header>
                    <p>Les cours de tricot sont pour tous les niveaux même lieu et même heure que la couture.</p>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Broderie</h3>
                    </header>
                    <p>Les cours de broderie sont surtout pour les débutants et niveau moyen.
                        On apporte sa toile et son fil.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Section -->
    <section>
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Couture</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/pic01.jpg" alt=""/>
                    </div>
                    <p>Les cours de couture sont pour tous les niveaux, ils durent 2 heures.
                        Chaque élève apporte son projet, son tissu, son fil, ses petits outils et éventuellement sa
                        machine à coudre (mais ce n’est pas obligatoire).
                        Sont fournis : les patrons, les machines à coudre, de la mercerie.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Tricot</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/pic02.jpg" alt=""/>
                    </div>
                    <p>Les cours de tricot sont pour tous les niveaux même lieu et même heure que la couture.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Broderie</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/pic02.jpg" alt=""/>
                    </div>
                    <p>Les cours de broderie sont surtout pour les débutants et niveau moyen.
                        On apporte sa toile et son fil.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES THES A L'AIGUILLE</h2>
        </div>
    </section>

    <!-- Section -->
    <section>
        <div class="inner">
            <article>
                <div class="content">
                    <div class="image fit">
                        <img src="images/pic01.jpg" alt=""/>
                    </div>
                    <p>Tous les mardis en période scolaire, de 17 h 15 à 18 h 15 pour les couturières, tricoteuses et
                        brodeuses, il y a possibilité de se retrouver avec un professeur pour prendre le thé (on apporte
                        ses gâteaux) et demander toute aide, conseil, dépannage, essayage pour avancer son ouvrage, on
                        peut aussi trouver un patron (parmi 3000 patrons) et de la mercerie.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h2>LES ATELIERS</h2>
        </div>
    </section>

    <!-- Section -->
    <section>
        <div class="inner">
            <article>
                <div class="content">
                    <div class="image fit">
                        <img src="images/pic01.jpg" alt=""/>
                    </div>
                    <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin
                        sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}