{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
    <!-- Section -->
    <section id="one">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h1>Contactez-nous</h1>
                    </header>
                    <p>
                        Si vous désirez des renseignements sur l'association, les cours, les horaires, les tarifs,
                        n'hésitez pas à me contacter et je vous répondrai dans les plus brefs délais.
                    </p>
                    <p>
                        EMBELLIR LA VIE<br>
                        10 rue Chevreul 94700 Maisons Alfort<br>
                        01.43.68.26.15 - 06 08 67 43 60
                    </p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}