{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Title -->
    <section id="first">
        <div class="inner">
            <h1>Bienvenue à Embellir la vie</h1>
        </div>
    </section>

    <!-- Section -->
    <section class="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h2>L'association</h2>
                    </header>
                    <p>Embellir la vie a été créée pour aider et encourager la création manuelle et artistique.</p>
                </div>
            </article>
            <article class="alt responsive">
                <div class="content">
                    <div class="image fit">
                        <img src="{{ asset('images/home/elisabeth.webp') }}" alt="" id="portrait"/>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- Section -->
    <section class="two">
        <div class="inner">
            <article>
                <div class="content">
                    <div class="image fit">
                        <img src="{{ asset('images/home/sewing.jpg') }}" alt=""/>
                    </div>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h2>L'approche pédagogique</h2>
                    </header>
                    <p>Redécouvrir le plaisir de créer, de dépasser ses limites, de s’enrichir en rencontrant d’autres
                        personnes et
                        d’autres créateurs.
                        Concrètement : dès le début, on réalise un ouvrage ou une œuvre avec l’aide et les conseils du
                        professeur.</p>
                </div>
            </article>
        </div>
    </section>
    <!-- Section -->
    <section class="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h2>Embellir la vie organise</h2>
                    </header>
                    <ul>
                        <li>Des cours de couture, tricot, crochet, broderie</li>
                        <li>Des thés à l'aiguille</li>
                        <li>Des tages de couture pendant les vacances scolaires</li>
                        <li>Des sorties culturelles</li>
                        <li>Des ateliers
                            <ul>
                                <li>de décoration</li>
                                <li>d'accessoires de mode, bijoux, sac, chapeaux</li>
                                <li>préparation de fêtes</li>
                                <li>adaptation pour les personnes handicapées</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <div class="image fit">
                        <img src="{{ asset('images/home/sewing.jpg') }}" alt=""/>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}